html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto, sans-serif;
    background: white;
}

header {
    height: 68px;
    background: grey;
    border: 1px solid #B5B7BA;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

headder a {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #000000;
    text-align: center;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main img {
    width: 27%;
    /* Ширина */
    float: left;
    /* Выстраиваем элементы по горизонтали */
    margin: 0 0 0 0%;
    /* Отступ слева */
    background: grey;
    /* Цвет фона */
    border: 1px solid black;
    border-radius: 5px;
    /* Радиус скругления */
    padding: 2%;
    /* Поля */
}

main p {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0%;
    background: grey;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}

register {
    font-style: normal;
    font-weight: 30;
    font-size: 14px;
    line-height: 30px;
    color: #000000;
    text-align: left;
}

.Register {
    font-style: normal;
    font-weight: 30;
    font-size: 14px;
    line-height: 50px;
    color: #000000;
    text-align: end;
}

.text {
    margin-left: 370px;
    color: #000000;
    font-size: 14px;
}

.container {
    width: 980px;
    margin: 0 auto;
}

#search {
    float: right;
    height: 26px;
    overflow: hidden;
    margin-top: 15px;
}

#adress .slogan {
    font-size: 14px;
    font-style: italic;
    font-family: Georgia !important;
    display: block;
    margin-top: 52px;
    text-align: left;
}

.image {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
